*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/*pag. principal index*/
header{
    background-color: azure;
}
.header__titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    text-align: center;
    margin: 0 auto;
    background-color: black;
    border: 0.5rem solid palevioletred;
    border-radius: 2rem;
}
.header__nav{
    display: flex;
    justify-content: space-around;
}
.header__menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.header__link{
    padding: 0.8rem;
    color: black;
    text-decoration: none;
}
.header__link:hover{
    background-color: black;
    color: crimson;
    border-radius: 1rem;
}
.img1{
    width: 48rem;
    height: 66.2rem;
    grid-area: img1;
}
.img2{
    width: 36.2rem;
    height: 30rem;
    grid-area: img2;
}
.img3{
    width: 36.2rem;
    height: 36.2rem;
    grid-area: img3;
}
.contenedor__padre{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-template-areas: 
    "img1 img1 img2 img2"
    "img1 img1 img2 img2"
    "img1 img1 img3 img3"
    "img1 img1 img3 img3"
    ;
}
footer{
    background-color: azure;
    text-align: center;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 2.3rem;
}
/*pag. imagenes*/
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
    "img4 img4 img5 img5"
    "img4 img4 img6 img6"
    "img7 img7 img8 img8";
}
.img4 { 
    grid-area: img4; 
    width: 43rem;
    height: 40rem;
}
.img5 { 
    grid-area: img5; 
    width: 41rem;
    height: 32.2rem;
}
.img6 { 
    grid-area: img6; 
    width: 41rem;
    height: 32.2rem;
}
.img7 { 
    grid-area: img7; 
    width: 42.9rem;
    height: 32.2rem;
}
.img8 { 
    grid-area: img8; 
    width: 41rem;
    height: 32.2rem;
}
.subtitulos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    text-align: center;
    margin: 0 auto;
    border: 0.5rem dotted palevioletred;
}
/*pag. lista de precio*/
.img__precio{
    text-align: center;
}
/*pag. videos*/
video{
    width: 20rem;
    height: 20rem;
}