header{
    background-color: azure;
}
/*en el titulo e utilizado tipografias de google*/
.header__titulo{
    font-family: 'Ultra', serif;
    color: crimson;
    text-align: center;
    margin: 0 auto;
    background-color: black;
    border: 0.5 solid palevioletred;
    border-radius: 2rem;
}
.contenedor__padre{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-template-areas: 
    "img1 img1 img2 img2"
    "img1 img1 img2 img2"
    "img1 img1 img3 img3"
    "img1 img1 img3 img3"
    ;
    .img1{
        width: 48rem;
        height: 66.2rem;
        grid-area: img1;
    }
    .img2{
        width: 36.2rem;
        height: 30rem;
        grid-area: img2;
    }
    .img3{
        width: 36.2rem;
        height: 36.2rem;
        grid-area: img3;
    }
}
/*es un logo de utilidad para volver a la pagina principal en todos los html, solo en el index esta puesto pero no redirecciona*/
.logo{
    width: 80px;
    display: flex;
    flex-direction: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/*responsive de la pagina principal*/
@media (max-width: 480px) {
    .contenedor__padre{
        display: block;
        .img1{
            width: 30rem;
            height: 42rem;
        }
        .img2{
            width: 30rem;
        }
        .img3{
            width: 30rem;
            height: 23rem;
        }
    }
}