main{
    .container{
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: repeat(3 1fr);
        grid-template-areas: 
        "img4 img5 img5"
        "img4 img6 img6"
        "img7 img8 img8"
        ;
        .img4{
            width: 35rem;
            height: 70rem;
            grid-area: img4;
        }
        .img5{
            width: 30rem;
            height: 35rem;
            grid-area: img5;
        }
        .img6{
            width: 30rem;
            height: 35rem;
            grid-area: img6;
        }
        .img7{
            width: 35rem;
            height: 32.2rem;
            grid-area: img7;
        }
        .img8{
            width: 30rem;
            height: 32.2rem;
            grid-area: img8;
        }
    }
    /*responsive de la pagina imagenes*/
    @media (max-width: 480px){
        .container{
            display: flex;
            flex-direction: column;
            .img4{
                width: 28.5rem;
                height: 40rem;
            }
            .img5{
                width: 28.5rem;
            }
            .img6{
                width: 28.5rem;
            }
            .img7{
                width: 28.5rem;
            }
            .img8{
                width: 28.5rem;
            }
        }
}
}
/*animacion de imagenes*/
.container :hover {
    transform: translate(15px, 25px);
}