main{
    .container{
        display: grid;
        grid-template-columns: repeat(4 1fr);
        grid-template-rows: repeat(3 1fr);
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row dense;
        grid-template-areas: 
        "img4 img4 img5 img5"
        "img4 img4 img6 img6"
        "img7 img7 img8 img8"
        ;
        .img4{
            width: 43rem;
            height: 40rem;
            grid-area: img4
        }
        .img5{
            width: 41rem;
            height: 32.2rem;
            grid-area: img5;
        }
        .img6{
            width: 41rem;
            height: 32.2rem;
            grid-area: img6;
        }
        .img7{
            width: 42.9rem;
            height: 32.2rem;
            grid-area: img7;
        }
        .img8{
            width: 41rem;
            height: 32.2rem;
            grid-area: img8;
        }
    }
}